/*Big tablet to 1200px (widths smaller than the 1140px row*/
@media only screen and (max-width: 1550px) {

    /* .landing, .section2 {
        margin-top: 80px;
        display: flex;
    } */
    h1 {
        font-size: 45px;
        font-weight: 900;
        color: var(--main-black);
    }

    h2 {
        font-size: 20px;
        font-weight: 700;
        color: var(--main-black);
    }

    p {
        font-size: 17px;
        font-weight: 400;
        /*testing*/
        color: var(--main-gray);
    }

    a {
        font-size: 17px;
        font-weight: 400;
        /*testing*/
        color: var(--main-gray);
        text-decoration: none;
    }

    .wrapper-content {
        width: 85%;
        margin: 0 auto;
    }

    .r {
        text-align: right;
        margin-right: 130px;
        /*originally 300*/
        margin-bottom: 530px;
    }

    .l {
        padding-left: 200px;
    }

    .landing {
        margin-top: 150px;
        display: flex;
    }

    .section2 {
        margin-top: 300px;
        display: flex;
    }

    .section3 {
        margin-top: -300px;
        display: flex;
    }

    .landing h1 {
        margin-top: 10px;
    }
}

@media only screen and (max-width: 1350px) {
    .rec-large-2 {
        background-color: var(--main-blue);
        height: 260px;
        width: 950px;
        position: absolute;
        top: -142px;
        left: -472px;
        z-index: -1;
    }

    .line2 {
        height: 3px;
        width: 80px;
        background-color: var(--main-black);
        position: absolute;
        top: 30px;
        left: 60px;
    }
}

@media only screen and (max-width: 1250px) {
    .rec-large-2 {
        background-color: var(--main-blue);
        height: 260px;
        width: 900px;
        position: absolute;
        top: -142px;
        left: -472px;
        z-index: -1;
    }

    .line2 {
        height: 3px;
        width: 50px;
        background-color: var(--main-black);
        position: absolute;
        top: 30px;
        left: 60px;
    }
    .right {
        margin-right: 20px;
    }
    .skill-box {
        background-color: white;
        margin: 30px 0;
        text-align: center;
        width: 340px;
        height: 120px;
        line-height: 120px;
        -webkit-box-shadow: 0px 5px 20px 0px rgba(75,79,124,0.1);
        -moz-box-shadow: 0px 5px 20px 0px rgba(75,79,124,0.1);
        box-shadow: 0px 5px 20px 0px rgba(75,79,124,0.1);
    }


}


/*small tablet to big tablet: from 768px to 1023px*/
@media only screen and (max-width: 1023px) {
    h1 {
        font-size: 41px;
        font-weight: 900;
        color: var(--main-black);
    }

    h2 {
        font-size: 20px;
        font-weight: 700;
        color: var(--main-black);
    }

    p {
        font-size: 17px;
        font-weight: 400;
        /*testing*/
        color: var(--main-gray);
    }

    .skills {
        float: right;
        display: block;
    }

    .skill-box {
        background-color: white;
        margin: 30px 0;
        text-align: center;
        width: 250px;
        height: 120px;
        line-height: 120px;
        -webkit-box-shadow: 0px 5px 20px 0px rgba(75, 79, 124, 0.1);
        -moz-box-shadow: 0px 5px 20px 0px rgba(75, 79, 124, 0.1);
        box-shadow: 0px 5px 20px 0px rgba(75, 79, 124, 0.1);
    }

    .wrapper-content {
        width: 95%;
        margin: 0 auto;
    }
    .rec-large {
        background-color: var(--main-blue);
        height: 190px;
        width: 520px;
        position: absolute;
        top: -60px;
        left: -80px;
        z-index: -1;
    }
    .rec-large-2 {
        background-color: var(--main-blue);
        height: 260px;
        width: 900px;
        position: absolute;
        top: -142px;
        left: -472px;
        z-index: -1;
    }
    .right {
        margin-right: 20px;
    }

}


/*small phones and tablets: 481px to 767px*/
@media only screen and (max-width: 850px) {
    h1 {
        font-size: 30px;
        font-weight: 900;
        color: var(--main-black);
    }

    h2 {
        font-size: 20px;
        font-weight: 700;
        color: var(--main-black);
    }

    p {
        font-size: 17px;
        font-weight: 400;
        /*testing*/
        color: var(--main-gray);
    }

    .skills {
        float: right;
        display: block;
    }

    .skill-box {
        background-color: white;
        margin: 30px 0;
        text-align: center;
        width: 200px;
        height: 120px;
        line-height: 120px;
        -webkit-box-shadow: 0px 5px 20px 0px rgba(75, 79, 124, 0.1);
        -moz-box-shadow: 0px 5px 20px 0px rgba(75, 79, 124, 0.1);
        box-shadow: 0px 5px 20px 0px rgba(75, 79, 124, 0.1);
    }

    .wrapper-content {
        width: 95%;
        margin: 0 auto;
    }

    .rec-large {
        background-color: var(--main-blue);
        height: 125px;
        width: 480px;
        position: absolute;
        top: -60px;
        left: -80px;
        z-index: -1;
    }
    .rec-large-2 {
        background-color: var(--main-blue);
        height: 230px;
        width: 770px;
        position: absolute;
        top: -142px;
        left: -472px;
        z-index: -1;
    }
    .right {
        margin-right: 20px;
    }
    .line2 {
        height: 3px;
        width: 35px;
        background-color: var(--main-black);
        position: absolute;
        top: 30px;
        left: 60px;
    }
    .r {
        text-align: right;
        /* margin-right: 150px; */
        /*originally 300*/
        margin-bottom: 530px;
    }

    .l {
        padding-left: 200px;
    }
}

@media only screen and (max-width: 650px) {
    h1 {
        font-size: 28px;
        font-weight: 900;
        color: var(--main-black);
    }

    h2 {
        font-size: 20px;
        font-weight: 700;
        color: var(--main-black);
    }

    p {
        font-size: 17px;
        font-weight: 400;
        /*testing*/
        color: var(--main-gray);
    }

    .skills {
        float: right;
        display: block;
    }

    .skill-box {
        background-color: white;
        margin: 30px 0;
        text-align: center;
        width: 200px;
        height: 120px;
        line-height: 120px;
        -webkit-box-shadow: 0px 5px 20px 0px rgba(75, 79, 124, 0.1);
        -moz-box-shadow: 0px 5px 20px 0px rgba(75, 79, 124, 0.1);
        box-shadow: 0px 5px 20px 0px rgba(75, 79, 124, 0.1);
    }

    .wrapper-content {
        width: 95%;
        margin: 0 auto;
    }

    .rec-large {
        background-color: var(--main-blue);
        height: 155px;
        width: 350px;
        position: absolute;
        top: -60px;
        left: -80px;
        z-index: -1;
    }
    .rec-large-2 {
        background-color: var(--main-blue);
        height: 250px;
        width: 690px;
        position: absolute;
        top: -142px;
        left: -472px;
        z-index: -1;
    }
    .right {
        margin-right: 20px;
    }
    .right p b {
        font-size: 19px;
        max-width: 500px;
    }
    .line2 {
        height: 3px;
        width: 0px;
        background-color: var(--main-black);
        position: absolute;
        top: 30px;
        left: 60px;
    }

    footer {
        position: fixed;
        bottom: 40px;
        right: 5%;
    }
    .social {
        position: fixed;
        left: 5%;
    }
    .social > a {
        margin-right: 20px;
    }
    .social > a {
        font-weight: 700;
        font-size: 15px;
    }
    footer > p {
        font-weight: 700;
        font-size: 13px;
    }
}

/*small phones from 0 to 480px*/
@media only screen and (max-width: 480px) {
    h1 {
        font-size: 25px;
        font-weight: 900;
        color: var(--main-black);
    }

    h2 {
        font-size: 18px;
        font-weight: 700;
        color: var(--main-black);
    }

    p {
        font-size: 17px;
        font-weight: 400;
        /*testing*/
        color: var(--main-gray);
    }

    .skills {
        float: right;
        display: block;
    }

    .skill-box {
        background-color: white;
        margin: 30px 0;
        text-align: center;
        width: 150px;
        height: 100px;
        line-height: 120px;
        -webkit-box-shadow: 0px 5px 20px 0px rgba(75, 79, 124, 0.1);
        -moz-box-shadow: 0px 5px 20px 0px rgba(75, 79, 124, 0.1);
        box-shadow: 0px 5px 20px 0px rgba(75, 79, 124, 0.1);
    }

    .wrapper-content {
        width: 95%;
        margin: 0 auto;
    }

    .rec-large {
        background-color: var(--main-blue);
        height: 130px;
        width: 250px;
        position: absolute;
        top: -60px;
        left: -80px;
        z-index: -1;
    }
    .rec-large-2 {
        background-color: var(--main-blue);
        height: 250px;
        width: 600px;
        position: absolute;
        top: -142px;
        left: -472px;
        z-index: -1;
    }
    .left {
        flex: 1;
        margin-top: 130px;
        position: relative;
     }
     .right {
        flex: 3;
        position: relative;
        margin-right: 10px;
     }
    .right p b {
        font-size: 19px;
        max-width: 500px;
    }
    .line2 {
        height: 3px;
        width: 0px;
        background-color: var(--main-black);
        position: absolute;
        top: 30px;
        left: 60px;
    }
    .r {
        text-align: right;
        /* margin-right: 100px; */
        /*originally 300*/
        margin-bottom: 530px;
    }

    .l {
        padding-left: 200px;
    }

     footer {
        position: fixed;
        bottom: 40px;
        right: 5%;
    }
    .social {
        position: fixed;
        left: 5%;
    }
    .social > a {
        margin-right: 10px;
    }
    .social > a {
        font-weight: 700;
        font-size: 13px;
    }
    footer > p {
        font-weight: 700;
        font-size: 11px;
    } 
    
}